@page "/admin/delete/{roleid}"
@model R10.Admin.role.DeleteModel
@{
    ViewData["Title"] = "Xóa role";
}

<h2>@ViewData["Title"]</h2>
<partial name="_StatusMessage" model="@Model.StatusMessage"></partial>

<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <p>Bạn có chắc xóa role <strong> @Model.role.Name</strong> </p>

            <div class="form-group">
                <input type="submit" value="Xóa" class="btn btn-danger" />
                <a class="btn btn-success" asp-page="./Index"> Danh sách role</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}