@page "/AccessDenied"
@model AccessDeniedModel
@{
    ViewData["Title"] = "Từ chối truy cập";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Bạn ko có quyền truy cập.</p>
</header>
