@page "/Logout"
@model LockoutModel
@{
    ViewData["Title"] = "Tài Khoản Bị khóa";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Tài Khoản bị tạm khóa, Thử Lại Sau.</p>
</header>
