@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
    Đổi thành công. <a asp-page="./Login">Ấn để đăng nhập</a>.
</p>
